.menuList {
  flex-grow: 1;
  &__item {
    padding: 0 !important;
    border-bottom: 1.5px solid transparent;
  }

  &__item:hover {
    border-color: #00524e;
    background-color: #f8f8f8;
    transition: 0.3s all;
    color: #00524e;
  }

  &__title {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    text-decoration: none;
    font-weight: 600;
  }
}

.title {
  &__icon {
    min-width: 45px;
    color: #1c2e36;
  }

  &__text {
    font-family: "Muli", sans-serif;
    color: #1c2e36;
  }
}
