.login {
  margin-top: 15vh;
  padding: 16px;
  border-radius: 4px;

  &__avatar {
    margin: 0 auto;
    background-color: #ff3d00 !important;
  }
  &__footer {
    border-top: 1px solid #daa520;
    padding: 16px 8px;
  }

  &__footer h5 {
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
  }
}
