.footer {
  background-color: #00524e;
  border-top: 2px solid #daa520;
  text-align: center;
  width: 100%;

  &__content {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #f8f8f8;
    line-height: 1px;
    text-overflow: "ellipsis";
  }
}
